# Bytecode Python
__pycache__/

# Checkpoints automáticos
.ipynb_checkpoints/

# Arquivos de dados
*.csv
*.tsv
*.txt
*.xls
*.xlsx
*.hdf5
*.parquet
*.pickle
*.pkl
*.db
*.sqlite
*.json
*.png
*.html
*.npy
*.npz
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.dat
*.xml
*.xsd
*.h5

# Outros formatos
*.pdf
*.jpg

# Arquivos
ipython_bug.py
parse.py
README
frame_pickle
